<div class='container'>
                <form method="POST" onsubmit="return validator();" action="{{url.host}}{{url.auctions.create}}" enctype="multipart/form-data"> 
                <div class='col-xs-3'>
                   <div class="ih-item circle effect1">
                       <a href="#">
                        <div class="spinner"></div>
                            <div id="imagePreview" class="img"></div>
                         </a>
                    </div>
                    <br>
                    <div class="form-group">
                        <input  id="uploadFile" type="file" name="picture" class="img" required>
                    </div>
                </div>
                    <div class='col-xs-6'>
                        <select id="elementId" name="itemCategory" class="form-control" required>
                            <option value="0">Categories</option>
                            <option value="1" name="1">Audio</option>
                            <option value="2" name="Antiques">Antiques</option>
                            <option value="3" name="Art">Art</option>
                            <option value="4" name="Cameras & Photo">Cameras & Photo</option>
                            <option value="5" name="Cellphone & Accesories">Cellphone & Accesories</option>
                            <option value="6" name="Clothes">Clothes</option>
                            <option value="7" name="Computers">Computers</option>
                            <option value="8" name="Cars">Cars</option>
                            <option value="9" name="Jewerly & Watches">Jewerly & Watches</option>
                            <option value="10" name="Music">Music</option>
                        </select>
                        <br>
                    <input id="fields1" type="text" class="form-control fields" name="itemName" placeholder="Item Name" required> 
                        <br>
                        <textarea  id="fields2" class="form-control fields" rows="3" name="descriptionItem" placeholder="Item Description" required></textarea>
                        <br>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount" >Starting Amount (in dollars)</label>
                            <div class="input-group">
                            <div class="input-group-addon ">$</div>
                            <input id="fields3" type="text" class="form-control fields" id="exampleInputAmount" name='amount' placeholder="Starting Amount Example: 50.00" required>
                            </div><span class="noData3 glyphicon glyphicon-remove"></span>
                        </div>
                        <br>

                        <br>
                        <div  id="sandbox-container">                       
                            <div class="input-daterange input-group" id="datepicker">
                            <span  class="input-group-addon">Date</span>
                            <input name="date" id="fields4" class="input-sm form-control fields" name="end" type="text" required>
                            </div>                       
                       </div><span class="noData4 glyphicon glyphicon-remove"></span>
                       <br>  
                       <center><span class="input-group-addon">Time   
                        <select name="hour">
                                <option>23</option> 
                                <option>22</option> 
                                <option>21</option> 
                                <option>20</option> 
                                <option>19</option> 
                                <option>18</option> 
                                <option>17</option> 
                                <option>16</option> 
                                <option>15</option> 
                                <option>14</option> 
                                <option>13</option> 
                                <option>12</option> 
                                <option>11</option> 
                                <option>10</option> 
                                <option>9</option>
                                <option>8</option> 
                                <option>7</option> 
                                <option>6</option> 
                                <option>5</option> 
                                <option>4</option> 
                                <option>3</option> 
                                <option>2</option> 
                                <option>1</option>                                  
                            </select>
                            <select name="minutes">
                                <option>59</option> 
                                <option>58</option> 
                                <option>57</option> 
                                <option>56</option> 
                                <option>55</option> 
                                <option>54</option> 
                                <option>53</option> 
                                <option>52</option> 
                                <option>51</option> 
                                <option>50</option>
                                <option>49</option>
                                <option>48</option>
                                <option>47</option> 
                                <option>46</option> 
                                <option>45</option> 
                                <option>44</option> 
                                <option>43</option> 
                                <option>42</option> 
                                <option>41</option> 
                                <option>40</option> 
                                <option>39</option> 
                                <option>38</option> 
                                <option>37</option> 
                                <option>36</option> 
                                <option>35</option> 
                                <option>34</option> 
                                <option>33</option>
                                <option>32</option> 
                                <option>31</option> 
                                <option>30</option> 
                                <option>29</option> 
                                <option>28</option> 
                                <option>27</option> 
                                <option>26</option> 
                                <option>25</option>     
                                <option>24</option>
                                <option>23</option> 
                                <option>22</option> 
                                <option>21</option> 
                                <option>20</option> 
                                <option>19</option> 
                                <option>18</option> 
                                <option>17</option> 
                                <option>16</option> 
                                <option>15</option> 
                                <option>14</option> 
                                <option>13</option> 
                                <option>12</option> 
                                <option>11</option> 
                                <option>10</option> 
                                <option>9</option>
                                <option>8</option> 
                                <option>7</option> 
                                <option>6</option> 
                                <option>5</option> 
                                <option>4</option> 
                                <option>3</option> 
                                <option>2</option> 
                                <option>1</option>                                  
                            </select>                           
                       </span>
                       </center>                   
                       <br>
                    <button id="post" class="btn bidView" ><strong><center>&nbsp&nbsp&nbspPOST&nbsp&nbsp&nbsp</center></strong></button>           
                </form>
            </div>           
        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
        <!-- Footer -->

    </div>
