 
    {{#each auctions}}
        <div class='container'>
        {{> modals ..}}
            <div class='col-xs-4'>
                <div class="ih-item circle effect1">
                        <a href="#">
                            <div class="spinner"></div>
                                <div class="img"><img src="./imgs/{{this.item.image}}" ></div>
                                <div class="info">
                                    <div class="info-back myimg">                                    
                                        <h3 id="{{auctions.startingPrice}} - startingPrice">${{this.bid.amount}}</h3>
                                        <p>bid now</p>
                                    </div>
                             </div>
                         </a>
                     </div>
            </div>
            <div class='col-xs-5'>
                <h2 id="{{auctions.id}} - itemName">{{this.item.title}}</h2>
                <h3 id="{{auctions.id}} - itemName">{{this.item.description}}</h3>
            </div>
            <div class='col-xs-2'>
                <br><br><br><br>
                <button id="{{auction.id}}" class="btn bidView" data-toggle="modal" data-target="#newOverlay" data-myid="{{this.itemId}}" data-productname="{{this.item.title}}" data-description="{{this.item.description}}" data-price="{{this.startingPrice}}" data-bid="{{this.bid.amount}}"
                data-date="{{this.expiryDate}}" data-image="{{this.item.image}}" data-id="{{this.id}}" ><strong><center>&nbsp&nbsp&nbsp&nbspVIEW&nbsp&nbsp&nbsp&nbsp</center></strong></button>     
                <br><br>
            </div>
    </div>
    <br><br><br>
    <hr>
  {{/each}}
 
