
<div class="modal fade space" id="newOverlay" tabindex="-1" role="dialog" aria-labelledby="newOverlayLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="glyphicon glyphicon glyphicon-remove closeViewx"  data-dismiss="modal"></span>                    
                <h1 class="modal-title" id="newOverlayLabel"></h1>
            </div>
            <br>
            <div>
                <div class='col-lg-4'>
                    <div class="ih-item circle effect1">
                        <a href="#">
                            <div class="spinner"></div>
                            <div class="img"><img class="modal-img" src="./imgs/{{this.item.image}}"></div>
                            <div class="info">
                                <div class="info-back myimg">
                                    <h3 class='modal-itemIDs'></h3>
                                    <p></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>    
                <div class='col-lg-5'>
                    <p  class="modal-description"></p>
                </div>   
                <div class='col-lg-3'>
                    <span>Starting price</span><p id="sPrice" class="modal-sPrice"></p>
                    <span>Current price</span><p id="cPrice" class="modal-bid"></p>
                    <span>End Time</span>
                    <div class='timerLabel'>
                        <span class='modal-date'></span>
                    </div>
                    {{#unless myAuction}}
                        {{#if user}}  
                            <form method="POST" onsubmit="return bidValidator();"action="{{url.host}}{{url.auctions.bid}}">
                                <input id="bidAmount"name="amount" type="text" class="form-control" placeholder="$00.00" aria-describedby="sizing-addon1"><br>
                                <span class="glyphicon glyphicon-alert alerta">Your bid is not big enough</span>
                                <span class="glyphicon glyphicon-alert alertas">Your bid is nor a number</span><br>
                                <input name="itemId" class='modal-itemIDs' type="hidden" val="0">
                                <input name="auctionId" class='modal-id' type="hidden" val="0">
                                <button id="bidow" class="btn" ><strong>BID NOW</strong></button>
                            </form>
                        {{/if}}
                    {{/unless}}    
                    <br><br>
                </div>
            </div>                   
        </div>                
    </div>
    <div class="modal fade space" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="glyphicon glyphicon glyphicon-remove closeViewx"  data-dismiss="modal"></span> 
                    
                    <h1 class="modal-title" id="deleteProductModalLabel">Confirm Delete</h1>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn">Yes</button>
                    <button type="button" class="btn" data-dismiss="modal">No</button>        
                </div>
            </div>
        </div>
    </div> 
</div>
