<div class="container">
        <div class="scroll-top-wrapper ">
                <span class="scroll-top-inner">
                        <i class="fa fa-2x fa-arrow-circle-up"></i>
                </span>
        </div>
<!-- Jumbotron Header -->
<div class= "container">
        <div class="myheader" style='background-image: url("./imgs/header.jpg"); background-size:contain; background-position:center'>
                <br><br><br><br><br><br><br><br>
                <div class='col-xs-1'></div>
                <button class="btn btn-large shop"><strong>VIEW</strong></button>
                <br><br><br><br><br><br><br><br><br><br>
        </div>
</div>
<hr>
<!-- Title -->
<div class="container no-gutters">
        <div class='col-xs-1'></div>
                <div class='col-xs-4'>
                        <div class="ih-item square effect4"><a href="#">
                                <div class="img"><img class="img-responsive" src="./imgs/car.jpg" alt="img"></div>
                                <div class="mask1"></div>
                                <div class="mask2"></div>
                                <div class="info">
                                <h3>OLD CAR 1980</h3>
                                <p>Side picture of the car</p>
                                </div></a>
                        </div>   
                        <div class='col-xs-15'>
                                <div class="ih-item square effect4">
                                        <a href="#">
                                                <div class="img"><img class="img-responsive" src="./imgs/car1.jpg" alt="img"></div>
                                                <div class="mask1"></div>
                                                <div class="mask2"></div>
                                                <div class="info">
                                                <h3>OLD CAR 1980</h3>
                                                <p>Lateral picture of the car</p>
                                                </div>
                                        </a>
                                </div>   
                                <h4>Collector's car</h4>
                                <p>This awesome collector's car is in perfect shape, take it home today by bidding NOW</p>
                        </div>
                </div>
        <div class='col-xs-6 pushser'>
                <div class="ih-item square effect4"><a href="#">
                <div><img class="img-responsive " src="./imgs/car2.jpg" alt="img"></div>
                <div class="mask1"></div>
                <div class="mask2"></div>
                <div class="info">
                <h3>OLD CAR 1980</h3>
                <p>This beautiful car shipped straight from cuba is not for SAIL and can be YOURS!</p>
                </div></a>
                </div>   
        </div>
</div>
<hr>
<div class="row no-gutters">
        <div class='col-xs-4'>
                <div class="ih-item square effect4">
                        <a href="#">
                                <div class="img"><img class="img-responsive" src="./imgs/ropa.jpg" alt="img"></div>
                                <div class="mask1"></div>
                                <div class="mask2"></div>
                                <div class="info">
                                        <h3>GUCCI COAT</h3>
                                        <p>GUCCI coat bougth in the 5th ave in NYC</p>
                                </div>
                        </a>
                </div>   
                <h4>Fashion</h4>
                <p>Stay trendy and look for the most fashinable items!</p>
        </div>
        <div class='col-xs-1'>
                <div class='col-xs-13'>
                        <img class="fill img-responsive" src="./imgs/ropa1.jpg" alt="">
                </div>
                <div class='col-xs-13'>
                        <img class="fill img-responsive" src="./imgs/ropa2.jpg" alt="">
                </div>
                <div class='col-xs-13'>
                        <img class="fill img-responsive" src="./imgs/ropa3.jpg" alt="">
                </div>
                <div class='col-xs-13'>
                        <img class="fill img-responsive" src="./imgs/ropa4.jpg" alt="">
                </div>
                <div class='col-xs-13'>
                        <img class="fill img-responsive" src="./imgs/ropa1.jpg" alt="">
                </div>
                <div  id="bidnow" class='col-xs-13'>
                <center><button class="btn btn-large shop"><strong>VIEW</strong></button> </center>
                </div>
        </div>
        <div class='col-xs-1 pull-left'></div>
        <div class='col-xs-5'>
                <div class="ih-item square effect4">
                        <a href="#">
                                <div class="img"><img class="img-responsive" src="./imgs/bike.jpg" alt="img"></div>
                                <div class="mask1"></div>
                                <div class="mask2"></div>
                                <div class="info">
                                        <h3>MOTORCYCLE HD 2015</h3>
                                        <p>HARLYE MOTOCYCLE, it will make you be the atraction in the highway</p>
                                </div>
                        </a>
                </div>   
                <br><h4>Motorcycle</h4>
                <p>2014 HARLEY DAVIDSON STREET GLIDE FLHX ONLY 2K MILES CSR PIPES PERFECT FINANCING
                RARE COLOR! BIG $ PIPES! MINT! LOW RATE FINANCING!!!!</p>
        </div>
</div>
