body{
          background-color: black; 
        }
        button, .shop,#mysearch{
            background-color: #FFF212;
            color: black;
        }
        .myheader{
                background-image: url("./imgs/header.jpg");
                background-repeat: no-repeat;
                background-position: center;
        }
        #searchbox{
            margin-top: 1%;
        }
        .row.no-gutters {
          margin-right: 0;
          margin-left: 0;
        }
        .row.no-gutters > [class^="col-"],
        .row.no-gutters > [class*=" col-"] {
              padding-right: 0;
              padding-left: 0;
              padding-bottom: 0;
              padding-top: 0;
        }
        .fill {
            display:flex;
            justify-content:center;
            align-items:center;
            overflow:hidden
        }
        .fill img {
            flex-shrink:0;
            min-width:100%;
            min-height:100%
        }
        .navers{
          padding: 0px;
          border: 0px;
        }
        #upnav ul
        {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        #upnav ul li { 
            display: inline;
        }
        a:visited{
            color: black;
        }
        a:link{
            color: black;
        }
        #bidnow{
            margin-top: 5%;
        }
        .prefondo{
            background-color: white;
            box-shadow: inset 0 0 2em #4A4A4A, 0 0 5em #969696;
        }
        .fondo{
           background-color: #F7F7F7;  
        }
        .pushser{
            margin-right:1%;
        }
        #arveres{
            border: none;
        }
        #def{
            padding-top: 0px;
        }
        .cd-top.cd-is-visible {
          /* the button becomes visible */
          visibility: visible;
          opacity: 1;
        }
        .cd-top.cd-fade-out {
          /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
          opacity: .5;
        }
        .back-to-top {
            cursor: pointer;
            position: fixed;
            bottom: 20px;
            right: 20px;
            display:none;
            background-color:#FFF212 ;
            border-style: none;
        }
        #lefter{
            background-color:#F7F7F7 ;
            border-style: none;
            color: black;
        }
        .Fixed
        {
            position: fixed;
            top: 50%;
        }
        .topper{
            position: absolute;
            top: 1%;
            left:18%;
            color: white;
        }
        #biglogin{
            background-color: black;
            opacity: .1;
            
        }
        #mylogin{
        background-color: white;
        opacity: 1;
        position: absolute;
        left:20%;
        top: 20%;
        z-index: 100;
        height: 400px;
        margin-top: -200px;
        width: 600px;
        margin-left: -300px;
        
        }
        #youlogin{
            position:absolute;
            left: 7%;
            top: 15%;
        }
        #overlay{
          position: absolute;
          top: 0;
          left: 0;
          width: 250%;
          height: 250%;
          z-index: 10;
          background-color: rgba(67,67,67,0.9); /*dim the background*/
          display: none;
        }
        .lit{
            margin-left: 10%;
        }
        .closeView{
            color: white;
            font-size: 2em;
            margin-top: 2%;
            left: 20%;
            cursor: pointer;
        }
        .price{
            font-size: 25px;
        }
        #timer{
            font-size: 25px;
        }
        .timerLabel{
            font-size: 20px;
        }
        .ih-item.circle.effect1 .spinner {
            border-right-color: white;
        }