<ul id= "myOptions">
    <li><a href='{{url.host}}{{url.user.edit}}'>Edit Profile </a>|</li>                                   
    <li><a href='{{url.host}}{{url.auctions.create}}'>Create Auction </a>|</li>
    <li><a href='{{url.host}}{{url.user.myAuctions}}'>My Auctions </a>|</li>
    <li><a href='{{url.host}}{{url.user.subs}}'>Subscriptions </a>|</li>
    <li><a href='{{url.host}}{{url.user.wins}}'>Wins </a>|</li>
</ul>
<hr>
<div class="container">  
    <div class='container'>
        <form method="POST" action="{{url.host}}{{url.user.edit}}" enctype="multipart/form-data"> 
            <div class='col-xs-4'>
                <div class="ih-item circle effect1">
                    <a href="#">
                        <div class="spinner"></div>
                        {{#if user.image}}
                            <div class="img"><img src="./imgs/{{user.image}}" alt="img"></div>
                        {{else}}
                            <div class="img"><img src="./imgs/ropa.jpg" alt="img"></div>
                        {{/if}}
                        <div class="info">
                            <div class="info-back myimg"></div>               
                        </div>
                    </a>
                    <br>
                    <input name="picture" class ='editable' type="file" id="inputFile">
                </div>
            </div>
            <div class='col-xs-5'>
                <h2 class="pInfoN">Name</h2>
                <h3 class="pInfoNs editableInfo">{{user.name}}</h3>
                <input type="text" name="userName" class="form-control editable" placeholder="Name" aria-describedby="sizing-addon1">
                {{#if user.password}}
                    <h2 class="pInfoA ">Password</h2>
                    <p class="editable">Old Password: <input type="password" name="oldPassword" class="form-control editable" placeholder="Address" aria-describedby="sizing-addon1"></p>
                    <p class="editable">New Password: <input type="password" name="newPassword" class="form-control editable" placeholder="Address" aria-describedby="sizing-addon1"></p>
                {{/if}}
            </div>        
            <div class='col-xs-2'>
                <button type="button" id="edit" class="btn bidView" ><strong><center>&nbsp&nbsp&nbspEDIT&nbsp&nbsp&nbsp</center></strong></button>
                <button id="saveName" class="btn editable"><strong><center>&nbsp&nbsp&nbspSAVE&nbsp&nbsp&nbsp</center></strong></button>                                
                <br/>
                <br/>
                <br/>
                {{#if message}}
                    <div class="alert alert-danger" role="alert">{{message}}</div>
                {{/if}}
            </div>
        </form> 
    </div>
    <br>
</div> 