<ul id= "myOptions">
                <li><a href='{{url.host}}{{url.user.edit}}'>Edit Profile </a>|</li>                                      
                <li><a href='{{url.host}}{{url.auctions.create}}'>Create Auction </a>|</li>
                <li><a href='{{url.host}}{{url.user.myAuctions}}'>My Auctions </a>|</li>
                <li><a href='{{url.host}}{{url.user.subs}}'>Subscriptions </a>|</li>
                <li><a href='{{url.host}}{{url.user.wins}}'>Wins </a>|</li>
</ul>
        <hr>
{{#each auctions}}
    <div class='container'>
        <div class="modal fade space" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content myModal">
                    <div class="modal-header">
                        <span class="glyphicon glyphicon glyphicon-remove closeViewx"  data-dismiss="modal"></span>
                        <h2 class="modal-title" id="deleteProductModalLabel">Confirm Delete <span class="glyphicon glyphicon glyphicon-remove closeView" data-dismiss="modal" aria-label="Close"></span> </h2>
                    </div>
                    <div id="{{auctions.id}} - itemName" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <form method="POST" action="{{../url.host}}{{../url.auctions.delete}}">
                            <input name="auctionId" class='modal-id' type="hidden" val="0">
                            <button class="btn">YES</button>
                            <button type="button" class="btn" data-dismiss="modal">NO</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{> modals ..}}
        <div class='col-xs-3'>
            <br><br>
            <div class="ih-item circlea">
                <a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="./imgs/{{this.item.image}}" alt="img"></div>
                </a>
            </div>
        </div>
        <div class='col-xs-6'>
            <br><br>
            <h2 id="{{auctions.id}} - itemName">{{this.item.title}}</h2>
        </div>
        <div class='col-xs-2'>
            <br>
            <strong><p class="status">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspACTIVE</p></strong>
            <button data-id="{{this.id}}" class="btn bidView" data-toggle="modal" data-target="#newOverlay" data-myid="{{this.itemId}}" data-productname="{{this.item.title}}" data-description="{{this.item.description}}" data-price="{{this.startingPrice}}" data-bid="{{this.bid.amount}}"
            data-date="{{this.expiryDate}}" data-image="{{this.item.image}}" data-id="{{this.id}}" ><strong><center>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspVIEW&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</center></strong></button>
            <br><br>
            {{#unless this.bid}}
            <button data-id="{{this.id}}" class="btn bidView" data-toggle="modal" data-target="#deleteProductModal" data-productname="{{this.item.title}}" data-description="{{this.item.description}}" data-price="{{this.startingPrice}}" data-bid="{{this.bid.amount}}"
            data-date="{{this.bid.date}}"><strong><center>&nbsp&nbsp&nbsp&nbspDELETE&nbsp&nbsp&nbsp&nbsp</center></strong></button>
            {{/unless}}
            <br><br>
        </div>
    </div>
    <hr>
 {{/each}}
</div>