
<style>
    #morris-bar-chart{
            min-height: 250px;
    }
</style>
    <!-- Custom Fonts -->
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.5.1.min.js"></script>
<script src="http://irae.pro.br/code/jquery.visualize/"></script>
<script src="highcharts.js" type="text/javascript"></script>
<script src="jquery.highchartTable.js" type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<ul id= "myOptions">
    <li><a href='{{url.host}}{{url.user.edit}}'>Edit Profile </a>|</li>                                   
    <li><a href='{{url.host}}{{url.auctions.create}}'>Create Auction </a>|</li>
    <li><a href='{{url.host}}{{url.user.myAuctions}}'>My Auctions </a>|</li>
    <li><a href='{{url.host}}{{url.user.subs}}'>Subscriptions </a>|</li>
    <li><a href='{{url.host}}{{url.user.wins}}'>Wins </a>|</li>
</ul>
<hr>

<div class="container">  
    <br>
    <div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <div class="table">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Item name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each auctions}}
                                <tr>
                                    <td>{{this.item.title}}</td>
                                    <td>{{date this.bid.date}}</td>                                   
                                    <td>{{time this.bid.date}}</td>
                                    {{#if this.bid}}
                                    <td>{{this.bid.amount}}</td>
                                    {{else}}
                                    <td>No Bids</td>
                                    {{/if}}
                                </tr>
                                {{/each}}  
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div id="divname"></div>
                </div>
            </div>
        </div>
    </div>                          
</div> 
</div></div>                
<script>
    $.get( "http://localhost:3000/auctions/get/myauctions", function( data ) {
        data = data.map(function(datum) {
            
            if(datum.bid) {
                return {
                    item: datum.item.title,
                    amount: datum.bid.amount
                };
            }
            return {
                item: datum.item.title,
                amount:0
            }
            
        });
        new Morris.Bar({
            // ID of the element in which to draw the chart.
            element: 'divname',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: data,
            // The name of the data record attribute that contains x-values.
            xkey: 'item',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['amount'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['Price']
        });
    });   
</script>