<ul id= "myOptions">
    <li><a href='{{url.host}}{{url.user.edit}}'>Edit Profile </a>|</li>                                      
    <li><a href='{{url.host}}{{url.auctions.create}}'>Create Auction </a>|</li>
    <li><a href='{{url.host}}{{url.user.myAuctions}}'>My Auctions </a>|</li>
    <li><a href='{{url.host}}{{url.user.subs}}'>Subscriptions </a>|</li>
    <li><a href='{{url.host}}{{url.user.wins}}'>Wins </a>|</li>
</ul>
<hr>
{{#each auctions}}
    <div class='container'>
        {{> modals ..}}
        <div class='col-xs-4'>
            <div class="ih-item circle colored effect15 left_to_right"><a href="#">
            <div class="img"><img src="./imgs/{{this.item.image}}" alt="img"></div>
            <div class="info">
            <h3>${{this.bid.amount}}</h3>
            <p>CURRENT PRICE</p>
            </div></a></div>
        </div>
        <div class='col-xs-5'>
            <h2 id="{{auctions.id}} - itemName">{{this.item.title}}</h2>
        </div>
        <div class='col-xs-2'>
            <br>
            {{#ifCond ../user.id this.bid.user.id}}
                <strong><p class="status">&nbsp&nbsp&nbsp&nbspACTIVE</p></strong>
            {{else}}
                <strong><p class="status-error">&nbsp&nbsp&nbsp&nbspACTIVE</p></strong>
            {{/ifCond}}
                <button class="btn bidView" data-toggle="modal" data-target="#newOverlay" data-myid="{{this.itemId}}" data-productname="{{this.item.title}}" data-description="{{this.item.description}}" data-price="{{this.startingPrice}}" data-bid="{{this.bid.amount}}"
                data-date="{{this.expiryDate}}" data-image="{{this.item.image}}" data-id="{{this.id}}" ><strong><center>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspVIEW&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</center></strong></button>             
        </div>
    </div>
    <hr>
{{/each}}
