
    
<ul id= "myOptions">
    <li><a href='{{url.host}}{{url.user.edit}}'>Edit Profile </a>|</li>                                      
    <li><a href='{{url.host}}{{url.auctions.create}}'>Create Auction </a>|</li>
    <li><a href='{{url.host}}{{url.user.myAuctions}}'>My Auctions </a>|</li>
    <li><a href='{{url.host}}{{url.user.subs}}'>Subscriptions </a>|</li>
    <li><a href='{{url.host}}{{url.user.wins}}'>Wins </a></li>
</ul>
        <hr>
{{#each wins}}
    <div class='container'>
        <div class="modal fade space" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content myModal">
                    <div class="modal-header">
                        <span class="glyphicon glyphicon glyphicon-remove closeViewx"  data-dismiss="modal"></span> 
                        <h2 class="modal-title" id="deleteProductModalLabel">Confirm Delete <span class="glyphicon glyphicon glyphicon-remove closeView" data-dismiss="modal" aria-label="Close"></span> </h2>
                    </div>
                    <div id="{{auctions.id}} - itemName" class="modal-body">                
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn">YES</button>
                        <button type="button" class="btn" data-dismiss="modal">NO</button>        
                    </div>
                </div>
            </div>
        </div> 
        <div class='col-xs-4'>            
            <div class="ih-item circle effect10 top_to_bottom">
                <a href="#">
                <div class="img"><img src="./imgs/{{this.item.image}}" alt="img"></div>
                <div class="info">
                    <h3>WINNER</h3>
                    <p>arveres</p>
                </div>
                </a>
            </div>
        </div>
        <div class='col-xs-3'>
            <h2 id="{{auctions.id}} - itemName">{{this.item.title}}</h2>
        </div>
        <div class='col-xs-1'>
            <br>
            <h3>Seller name:{{this.seller.name}}</h3>
            <h3>Seller email:{{this.seller.email}}</h3>
        </div>
        <strong><p class="status">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspINACTIVE</p></strong>
        <br><br>
        {{#unless this.bid}}
        {{/unless}}
        <br><br>
    </div>
    <hr>
 {{/each}}  
